## Dict change Keys and Values

In [1]:
def get_dict_reverce(dic):
    new_dic={}
    for k,v in dic.items():
        new_dic[v]=k
    return new_dic

In [2]:
test={'apple':3,'pear':4,'banana':5}

In [3]:
get_dict_reverce(test)

{3: 'apple', 4: 'pear', 5: 'banana'}

In [6]:
{v:k for k,v in test.items()}

{3: 'apple', 4: 'pear', 5: 'banana'}

## Merge 2 dicts

In [48]:
x ={'a':10,'b':2}
y = {'b':30,'d':4,'a':5}

z = dict(x,**y)
z

{'a': 5, 'b': 30, 'd': 4}

In [49]:
z = {**x,**y}
z

{'a': 5, 'b': 30, 'd': 4}

In [50]:
x.update(y)
x

{'a': 5, 'b': 30, 'd': 4}

In [51]:
x ={'a':10,'b':2}
y = {'b':30,'d':4,'a':5}

y.update(x)
y

{'b': 2, 'd': 4, 'a': 10}

## Unpacking

In [58]:
def myfun(x,y,z):
    print(x,y,z)

In [59]:
test_dic = {'x':200,'y':300,'z':400}
test_tuple=(0,1,0)

In [60]:
myfun(**test_dic)

200 300 400

In [61]:
myfun(*test_tuple)

0 1 0

## Convert Sequence to Dict

In [62]:
#Only used for the following special type of sequence
list1=[('a',1),('b',2),('c',3),('d',4)]
dict(list1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [63]:
# Only takes the latest value as key if there are several repeated value in list
list_repeat = [('a',1),('b',2),('c',3),('d',4),('b',6)]
dict(list_repeat)

{'a': 1, 'b': 6, 'c': 3, 'd': 4}

## Convert Tuple to Dict

In [65]:
tuple1=(('a',1),('b',2),('c',3),('d',4))
dict(tuple1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Generate Dict with zip

In [68]:
dict1={1:'a',2:'b',3:'c',4:'d'}
dict1.values()

dict_values(['a', 'b', 'c', 'd'])

In [69]:
dict1.keys()

dict_keys([1, 2, 3, 4])

In [72]:
dict2=dict(zip(dict1.values(),dict1.keys()))
dict2

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [76]:
# Make Dict from 2 lists, pay attention that it only takes the commun part of 2 lists 
keys=[1,2,3,4,5]
values=['a','b','c','d']

dict3=dict(zip(keys,values))
dict3

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

## Loop the Dict

In [78]:
loop_dict = {1: 'a', 2: 'b', 3: 'c', 4: 'd'}

for k,v in loop_dict.items():
    print(f"{k}:{v}")

1: a
2: b
3: c
4: d

## Get method avoid error when we can't find a value

In [79]:
storyCount={'is':34,
            'the':5,
            'Michale':12,
            'runs':4
            }

In [80]:
storyCount.get('is')

34

In [81]:
storyCount.get('yao',"Sorry,can't find this key")

"Sorry,can't find this key"

In [90]:
storyCount.get('yao',0)

0

## Create Dict

In [91]:
first = {} 
first

{}

In [92]:
second = dict()
second

{}

In [93]:
third=dict(zip(keys,values))
third

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [94]:
fouth = dict(Name='White',Age=50,Job='cook',Salary=10000)
fouth

{'Name': 'White', 'Age': 50, 'Job': 'cook', 'Salary': 10000}

In [95]:
fifth = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
         2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
fifth

{1: {'name': 'John', 'age': '27', 'sex': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

## Sort Dict

In [97]:
final_result= dict(Math=80,Chinese=78,English=96,Science=60,Art=75)

#### By key ( Ascending )

In [101]:
sorted(final_result.items())

[('Art', 75), ('Chinese', 78), ('English', 96), ('Math', 80), ('Science', 60)]

In [99]:
import operator
sorted(final_result.items(),key=operator.itemgetter(0))

[('Art', 75), ('Chinese', 78), ('English', 96), ('Math', 80), ('Science', 60)]

In [100]:
sorted(final_result.items(),key=lambda x:x[0])

[('Art', 75), ('Chinese', 78), ('English', 96), ('Math', 80), ('Science', 60)]

#### By key ( Decending )

In [102]:
sorted(final_result.items(),reverse=True)

[('Science', 60), ('Math', 80), ('English', 96), ('Chinese', 78), ('Art', 75)]

In [103]:
sorted(final_result.items(),key=operator.itemgetter(0),reverse=True)

[('Science', 60), ('Math', 80), ('English', 96), ('Chinese', 78), ('Art', 75)]

In [104]:
sorted(final_result.items(),key=lambda x:x[0],reverse=True)

[('Science', 60), ('Math', 80), ('English', 96), ('Chinese', 78), ('Art', 75)]

#### By Value ( Ascending )

In [107]:
sorted(final_result.items(),key=lambda x:x[1])

[('Science', 60), ('Art', 75), ('Chinese', 78), ('Math', 80), ('English', 96)]

In [108]:
sorted(final_result.items(),key=operator.itemgetter(1))

[('Science', 60), ('Art', 75), ('Chinese', 78), ('Math', 80), ('English', 96)]

#### By Value ( Decending )

In [109]:
sorted(final_result.items(),key=lambda v:v[1],reverse=True)

[('English', 96), ('Math', 80), ('Chinese', 78), ('Art', 75), ('Science', 60)]

## Output much more beautiful with Json (show hex, special letters ...etc)

In [112]:
my_mapping = {'a': 23, 'b': 42, 'c': 0xc0ffee}
my_mapping

{'a': 23, 'b': 42, 'c': 12648430}

In [115]:
import json
print(json.dumps(my_mapping, indent=4, sort_keys=True))

{
    "a": 23,
    "b": 42,
    "c": 12648430
}

In [116]:
print(json.dumps(final_result, indent=4, sort_keys=True))

{
    "Art": 75,
    "Chinese": 78,
    "English": 96,
    "Math": 80,
    "Science": 60
}

In [117]:
first = {x:'A'+str(x) for x in range(8)}
print(json.dumps(first,indent=4, sort_keys=True))

{
    "0": "A0",
    "1": "A1",
    "2": "A2",
    "3": "A3",
    "4": "A4",
    "5": "A5",
    "6": "A6",
    "7": "A7"
}